$primary-family : "Black Ops One", system-ui;
$secondary-family : "Bai Jamjuree", sans-serif;
$primary-color: #efc70f;
$secondary-color: #242424;
$bg-dark: rgb(77,77,77);
$text-color: #fff;
$dark-color: #000;